
        <div class="modal-header">
            <h3 class="modal-title">Edit a row</h3>
        </div>
        <div class="modal-body">

				<div class="form-group" ng-repeat="(key, value) in items">
					<label for="{{key}}">{{key}}</label>
					
				  	<!--<input  class="form-control"   ng-model="items[key]"  ng-disabled="checkDisable(key)">-->
					<control type="propeties[$index]"  model="items[key]"  disabled="checkDisable(key)"></control>
					
				</div>

           
        </div>
        <div class="modal-footer">

            <button class="btn btn-primary" ng-click="save()"><i class="fa fa-spinner faa-spin animated" ng-show="loading"></i><span ng-show="!loading"> Save</span></button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
   